In [39]:
import pandas as pd

In [40]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [41]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [42]:
ufo.shape

(18241, 5)

In [43]:
ufo.drop('Colors Reported', axis=1, inplace=True)

In [44]:
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [45]:
ufo.dropna(how='any').shape

(15576, 4)

In [46]:
ufo.shape

(18241, 4)

In [49]:
ufo = ufo.set_index('Time')

KeyError: "None of ['Time'] are in the columns"

In [50]:
ufo.tail()

                         City Shape Reported State
Time
12/31/2000 23:00   Grant Park       TRIANGLE    IL
12/31/2000 23:00  Spirit Lake           DISK    IA
12/31/2000 23:45  Eagle River            NaN    WI
12/31/2000 23:45  Eagle River          LIGHT    WI
12/31/2000 23:59         Ybor           OVAL    FL

In [ ]:
ufo.fillna(method='ffill').tail